<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Tree Menu</title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

</head>

<body>
	<div id="app">
		{{arr}}
	</div>

	<script>
		const arr = [{
			id: 1,
			name: '1',
			children: [{
				id: 2, name: '1-1', p_id: 1,
				children: [{
					id: 3, name: '1-1-1', p_id: 2,
					children: [{
						id: 6, name: '1-1-1-1', p_id: 3
					}]
				}]
			}, {
				id: 4, name: '1-2', p_id: 1,
				children: [{
					id: 5, name: '1-2-2', p_id: 4
				}]
			}]
		}, {
			id: 7,
			name: '2'
		}]

		Vue.components('', {
			
		})
		new Vue({
			el: '#app',
			data: {
				arr
			}
		}).$mount('#app')
	</script>
</body>

</html>