<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    #root {
      text-align: center;
      width: 600px;
      background-color: rgb(255, 174, 82);
    }
    /* 1. 转块级元素 */
    /* img {
      display: block;
    } */
    img {
      vertical-align: middle;
    }
    span {
      display: inline-block;
      vertical-align: middle;
    }
  </style>
</head>
<body>
  <div id="root">
    <img src="https://img-blog.csdnimg.cn/20201014180756922.png?x-oss-process=image/resize,m_fixed,h_64,w_64" alt="">
    <span>123</span>
  </div>
</body>
</html>