<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>投币</title>
	<style>
		body {
			text-align: center;
		}
		img {
			width: 40px;
			height: 40px;
			border-radius: 100%;
			margin: 20px;
		}
		#bag {
			width: 200px;
			height: 200px;
			margin-top: 200px;
			opacity: .2;
		}
	</style>
</head>

<body>
	<h3>金币 拖入 钱袋 的时候消失</h3>
	<img id="coin1" class="coin" src="https://img2.baidu.com/it/u=1887149691,564116742&fm=253&fmt=auto&app=138&f=JPEG?w=330&h=325" alt="coin">
	<img id="coin2" class="coin" src="https://img2.baidu.com/it/u=1887149691,564116742&fm=253&fmt=auto&app=138&f=JPEG?w=330&h=325" alt="coin">
	<img id="coin3" class="coin" src="https://img2.baidu.com/it/u=1887149691,564116742&fm=253&fmt=auto&app=138&f=JPEG?w=330&h=325" alt="coin">
	<br>
	<img class="bag" id="bag" src="https://img1.baidu.com/it/u=1595129334,3379693149&fm=253&fmt=auto&app=138&f=JPEG?w=500&h=500"
	alt="">
</body>
<script>
	const coin = document.getElementsByClassName('coin')
	for (let i = 0; i < coin.length; i++) {
		const coinSingle = coin[i];
		coinSingle.ondragstart = function (e) {
			e.dataTransfer.setData('coinId', this.id);
		}
	}
	bag.ondragenter = function () {
		console.log('进入钱袋')
		bag.style.opacity = '1';
	}
	bag.ondragleave = function () {
		console.log('离开钱袋');
		bag.style.opacity = '.2';
	}
	bag.ondragover = function (e) {
		console.log('钱袋内移动');
		e.preventDefault()
	}
	bag.ondrop = function (e) {
		console.log('放开拖动')
		const id = e.dataTransfer.getData('coinId')
		console.log(id + '投入钱袋')
		const dragId = document.getElementById(id);
		dragId.parentNode.removeChild(dragId)
	}
</script>

</html>