<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body{
            margin:0;
            position: relative;
        }
        img{
            position:absolute;
            width: 150px;
            height: 150px;
        }
    </style>
</head>
<body>
    <img id="cat" src="https://i1.hdslb.com/bfs/face/84ffc31cf80b06b84400c26355e82b925ff15f0e.jpg@96w_96h_1c_1s.webp" alt=""/>
</body>
<script>
    const cat = document.getElementById('cat')
    cat.ondragstart = function (e) {
        console.log('start move')
        offsetX = e.offsetX
        offsetY = e.offsetY
        console.log(e)
    }
    cat.ondrag = function (e) {
        console.log('on moving')
        var x = e.pageX
        var y = e.pageY
        console.log(`${x} - ${y}`)
        if (x === 0 && y === 0) return
        x -= offsetX
        y -= offsetY
        cat.style.left = e.pageX + 'px'
        cat.style.top = e.pageY + 'px'
    }
    cat.ondragend = function (e) {
        console.log('move end')
    }
</script>
</html>
