<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<style>
    .wrapper {
        width: 500px;
        height: 500px;
        background-color: #e2f0ff;
    }
.textAlign {
    text-align: center;
    width: 100px;
}
.inner {
    width: 50px;
    height: 50px;
    background-color: #7f8879;
}
</style>

<body>
    <div class="wrapper">
        <div class="textAlign">
            daksflgjsdf
            <div class="inner"></div>
        </div>
    </div>
    <script>
        function addCurry() {
            // 第一次执行时，定义一个数组专门用来存储所有的参数
            // var _args = Array.prototype.slice.call(arguments);
            var _args = [...arguments]
            console.log('_args: ' + _args)

            // 在内部声明一个函数，利用闭包的特性保存_args并收集所有的参数值
            var _adder = function() {
                _args.push(...arguments);
                console.log('_args after push: ' + _args)
                return _adder;  // push 完成后 继续返回 adder 函数，使下一次执行能找到入口（闭包），递归？
            };

            // 改写 toString 方法，console 时自动调用 toString 方法
            // 利用 toString 隐式转换的特性，当最后执行时隐式转换，并计算最终的值返回
            _adder.toString = function () {
                console.log('toString')
                return _args.reduce(function (a, b) {
                    return a + b;
                });
            }
            return _adder;
        }
        // console.log(addCurry(1)(2)(3))                // 6
        console.log('res: ' + addCurry(1, 2, 3)(4)(5, 6))            // 10
        // console.log(addCurry(1)(2)(3)(4)(5))          // 15
        // console.log(addCurry(2, 6)(1))
    
    //     // 柯里化参数复用
    //     function check(reg, str) {
    //         return reg.test(str)
    //     }
    //     console.log(check(/\d+/g, '1sd2a3')) // true
    //     console.log(check(/[a-z]+/g, '13465879')) // false

    //     function curryCheck(reg) {
    //         return function(str) {
    //             return reg.test(str)
    //         }
    //     }
    //     const hasNum = curryCheck(/\d+/g)   // 此处第一个参数可以直接复用
    //     const hasChar = curryCheck(/[a-z]+/g)

    //    console.log(hasNum('asdqwrasd'))  // false
    //    console.log(hasChar('123asd5'))  // true

    </script>
</body>

</html>

</Datag>














